/* CreateChat.css */

.create-chat {
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
  min-height: 100vh;
  background: radial-gradient(circle, #7baffe, #aec6e9); /* Circular gradient from center */
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Aligns the content to the top */
  align-items: center; /* Centers the content horizontally */
  position: relative; /* Added for positioning the Go Back button */
  padding-top: 10px; /* Reduced padding at the top to bring content closer */
}

.create-chat-input {
  padding: 0.5rem;
  margin: 0.5rem 0; /* Reduced margin to bring input closer to title */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.create-chat-button {
  padding: 15px 25px;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif; /* Use Roboto for the button text */
  font-weight: 600; /* A slightly bolder font weight for better legibility */
  border: none;
  border-radius: 8px; /* Rounded corners for a softer look */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin: 0.5rem;
}

.create-chat-button {
  background-color: white;
  color: #7baffe; /* Light blue text color */
}

/* Hover effects for the login button */
.create-chat-button:hover {
  transform: scale(1.05); /* Slight zoom-in effect */
}

.create-chat-button:active {
  transform: scale(0.98); /* Slight zoom-out effect on click */
}

.go-back-button {
  position: absolute; /* Absolute positioning to place it at the top right */
  top: 20px; /* Adjust the distance from the top */
  right: 20px; /* Adjust the distance from the right */
  font-family: 'Roboto', sans-serif; /* Use Roboto for the button text */
  font-weight: 400;
  padding: 10px 20px;
  background-color: #ffffff; /* Set to red */
  color: rgb(241, 86, 86);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.go-back-button:hover {
  transform: scale(1.05); /* Darker red on hover */
}

.error-message {
  color: red;
  margin-top: 1rem;
}
